@if (isEditable) {
  <div class="control">
    <div class="select is-small is-fullwidth"
         [class.is-danger]="isErrored"
         [class.is-loading]="_formControl.disabled">
      <select [formControl]="_formControl">
        @for (account of accounts; track account.id) {
          <option [value]="account.id">{{ account.name }}</option>
        }
      </select>
    </div>
    @if (isErrored) {
      <p class="help is-danger">Das Konto konnte nicht aktualisiert werden.</p>
    }
  </div>
}
