<div class="dropdown" [class.is-active]="!loading && showMenu" #dropdown>
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" [class.is-loading]="loading" (click)="showMenu = !showMenu">
      <span>{{ menuTitle }}</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" role="menu">
    <div class="dropdown-content">
      @for (book of books; track book.id) {
        <a class="dropdown-item"
           (click)="setCurrentBook(book)"
           [class.is-selected]="(currentBookService.currentBook$ | async)?.id === book.id">{{ book.name }}</a>
      }

      <hr class="dropdown-divider"/>
      <a class="dropdown-item" (click)="openAddBookDialog()">
        <span class="icon is-small">
          <i class="fas fa-add" aria-hidden="true"></i>
        </span>
        <span>Buch hinzufügen</span>
      </a>
    </div>
  </div>
</div>
