<h1>
  Budget <span class="icon--mdi icon--mdi--close" (click)="close()"></span>
</h1>
<form [formGroup]="formGroup">
  <table>
    <tbody>
    <tr>
      <td>Name</td>
      <td><input type="text" [formControlName]="'name'"/></td>
    </tr>
    <tr>
      <td>Soll anzeigen</td>
      <td><input type="checkbox" [formControlName]="'showTarget'"/></td>
    </tr>
    <tr>
      <td>Ist anzeigen</td>
      <td><input type="checkbox" [formControlName]="'showActual'"/></td>
    </tr>
    <tr>
      <td>Differenz anzeigen</td>
      <td><input type="checkbox" [formControlName]="'showDifference'"/></td>
    </tr>
    <tr>
      <td>Ist sichtbar?</td>
      <td><input type="checkbox" [formControlName]="'isVisible'"/></td>
    </tr>
    </tbody>
  </table>
</form>
<p class="m-0 mt-3 fs-6">Revisionen</p>

@let revisions = data?.revisions() ?? [];
<div class="table-container">
  <table>
    <tbody>
      @for (revision of revisions; let i = $index; track i) {
        @if (i > 0) {
          <tr>
            <td colspan="2"><p class="m-0 text-center">Rev {{ i }}</p></td>
          </tr>
          <tr>
            <td>Datum</td>
            <td>
              <app-revision-date-input [date]="revision.date()"
                                       (dateChange)="revision.date.set($event)"></app-revision-date-input>
            </td>
          </tr>
          <tr>
            <td>Beschreibung</td>
            <td>
              <input type="text" class="form-control form-control-sm w-100" [ngModel]="revision.description()"
                     (ngModelChange)="revision.description.set($event)"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="height: 10px"></td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

<div class="btn-toolbar justify-content-sm-between gap-1">
  <button type="button" class="btn btn-very-sm btn-success" (click)="addRevision()">
    Revision hinzufügen
  </button>
  @if (revisions.length > 1) {
    <button type="button" class="btn btn-very-sm btn-danger" (click)="removeLastRevision()">
      letzte Revision entfernen
    </button>
  }
</div>
