<div class="box">
  <h1>Plan hinzufügen</h1>
  <div class="box-content">
    <div class="field">
      <label class="label is-small">Name</label>
      <p class="control is-expanded">
        <input class="input is-small" type="text" placeholder="Name"
               [formControl]="formGroup.controls.name">
      </p>
    </div>
    <div class="field">
      <label class="label is-small">Beschreibung</label>
      <p class="control is-expanded">
        <textarea class="input is-small" type="text" placeholder="Beschreibung"
                  [formControl]="formGroup.controls.description"></textarea>
      </p>
    </div>
    <div class="field">
      <label class="label is-small">Jahr</label>
      <p class="control is-expanded">
        <input class="input is-small" type="number" placeholder="Jahr"
               [formControl]="formGroup.controls.year">
      </p>
    </div>
  </div>
  <div class="buttons">
    <button class="button is-primary is-small"
            [class.is-loading]="loading"
            [disabled]="formGroup.invalid"
            (click)="add()">Hinzufügen
    </button>
    <button class="button is-small" (click)="close()">Abbrechen</button>
  </div>
</div>
