<div class="buttons has-addons is-small">
  <button tabindex="11" class="button is-small" (click)="openImportDialog()">
    <span class="icon is-small">
      <i class="fas fa-file-import"></i>
    </span>
    <span>Importieren</span>
  </button>
</div>

@if (transactions.length === 0) {
  <p>Datei zum importieren auswählen.</p>
} @else {
  <table class="table is-striped is-fullwidth is-hoverable">
    <thead>
    <tr>
      <th>Belegdatum</th>
      <th>Betrag</th>
      <th>Konto</th>
      <th>Gegenkonto</th>
      <th>Referenz</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (transaction of transactions; track transaction.index; let index = $index) {
        <tr>
          <td>{{ transaction.receiptDate | date }}</td>
          <td>{{ transaction.amount | currency:'EUR' }}</td>
          <td>{{ transaction.creditAccount }}</td>
          <td>{{ transaction.debitAccount }}</td>
          <td>{{ transaction.description }}</td>
          <td>
            <app-import-table-actions
              [accounts]="accounts"
              [transaction]="transaction"
              (booked)="removeTransaction(index)"
              (ignored)="removeTransaction(index)"></app-import-table-actions>
          </td>
        </tr>
      }
    <tr></tr>
    </tbody>
  </table>
}
