<h1>Konto <span class="icon--mdi icon--mdi--close" (click)="close()"></span></h1>
<table>
  <tbody>
  <tr>
    <td>Gruppe</td>
    <td>
      <select>
        <option>Keine</option>
        <option>AStA</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Nummerierung</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Titel</td>
    <td><input type="text"/></td>
  </tr>
  <tr>
    <td>Beschreibung</td>
    <td><textarea></textarea></td>
  </tr>
  <tr>
    <td>Ist sichtbar?</td>
    <td><input type="checkbox"/></td>
  </tr>
  </tbody>
</table>
