.table-container {
  width: calc(100% - 20px);

  table {
    .title-field {
      width: 200px !important;
    }

    .budget-name {
      text-wrap: nowrap;
    }

    .right-align {
      text-align: right;
    }

    .value-field {
      .control {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number] {
          -moz-appearance: textfield;
        }
      }
    }

    .field {
      width: 100px;
      min-width: 100px;
    }

    td {
      .code {
        text-wrap: nowrap;
        text-align: right;
      }

      &.disable-right-border {
        border-right: none !important;
      }

      &.disable-left-right-border {
        border-left: none !important;
        border-right: none !important;
      }
    }
  }
}
