<div class="buttons has-addons is-small action-bar">
  <button tabindex="11" class="button is-small" (click)="openAddAccountDialog()">
    <span class="icon is-small">
      <i class="fas fa-add"></i>
    </span>
    <span>Konto hinzufügen</span>
  </button>
  <button tabindex="11" class="button is-small" (click)="openAddBudgetDialog()">
    <span class="icon is-small">
      <i class="fas fa-add"></i>
    </span>
    <span>Plan hinzufügen</span>
  </button>
  <button [class.is-loading]="loading" tabindex="11" class="button is-small" (click)="openPrint()">
    <span class="icon is-small">
      <i class="fas fa-print"></i>
    </span>
    <span>Drucken</span>
  </button>
</div>

<div class="checkboxes checkboxes-bar">
  <label class="checkbox">
    <input tabindex="11" type="checkbox" [formControl]="filterFormGroup.controls.showActual"/>
    Ist anzeigen
  </label>

  <label class="checkbox">
    <input tabindex="11" type="checkbox" [formControl]="filterFormGroup.controls.showDifference"/>
    Differenz anzeigen
  </label>
</div>

@if (loading) {
  <p class="loader"><span class="bulma-loader-mixin"></span></p>
} @else {
  <app-overview-content
    [budgets]="budgets"
    [rows]="rows"
    [maxDepth]="maxDepth"
    [showActualValues]="filterFormGroup.controls.showActual.value ?? false"
    [showDiffValues]="filterFormGroup.controls.showDifference.value ?? false"
    (accountAdded)="openAddAccountDialog($event.type, $event.parentId)"></app-overview-content>
}
