@use "bulma/sass/utilities/mixins";

.loader {
  font-size: 20pt;
  @include mixins.loader;
}

@media print {
  .action-bar {
    display: none;
  }

  .checkboxes-bar {
    display: none;
  }
}

.checkboxes {
  margin-bottom: 24px;
}
