@if (loading) {
  <p class="loader"><span class="bulma-loader-mixin"></span></p>
} @else {
  <table class="table is-fullwidth is-bordered is-hoverable">
    <thead>
    <tr>
      <th>Datum</th>
      <th>Referenz</th>
      <th>Betrag</th>
      <th>HKT</th>
      <th>Importiert?</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (transaction of transactions; track transaction.id; let index = $index) {
        <tr>
          <td>{{ transaction.createdAt | date }}</td>
          <td>{{ transaction.reference }}</td>
          <td>{{ transaction.amount | currency:'EUR' }}</td>
          <td>
            <app-journal-transaction-account-select
              [accountId]="transaction.accountId"
              [accounts]="accounts"
              [transactionId]="transaction.id"
              [isEditable]="transaction.isEditable"></app-journal-transaction-account-select>
          </td>
          @if (transaction.isImported) {
            <td>Ja</td>
          } @else {
            <td>Nein</td>
          }
          <td>
            <app-journal-transaction-account-actions
              [transactionId]="transaction.id"
              [isDeletable]="transaction.isDeletable"
              (deleted)="deleteTransaction(index)"></app-journal-transaction-account-actions>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
