<div class="bl-container">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <app-layout-book-menu class="navbar-item"></app-layout-book-menu>

      @if (currentBookService.currentBook$ | async) {
        <a tabindex="10" class="navbar-item" [routerLinkActive]="'is-selected'" routerLink="/dashboard">Übersicht</a>
        <a tabindex="10" class="navbar-item" [routerLinkActive]="'is-selected'" routerLink="/journal">Journal</a>
        <a tabindex="10" class="navbar-item" [routerLinkActive]="'is-selected'" routerLink="/import">Importieren</a>
      }
    </div>
  </nav>

  <div class="bl-content">
    @if (currentBookService.currentBook$ | async; as book) {
      <router-outlet></router-outlet>
    } @else {
      <p>Du musst ein Buch auswählen.</p>
    }
  </div>
</div>
