.bl-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  @media print {
    height: 100%;
    display: block;
  }

  .navbar {
    @media print {
      display: none;
    }

    .navbar-brand {
      @media print {
        display: none;
      }

      .is-selected {
        border-bottom: 4px solid var(--bulma-primary);
      }
    }
  }

  .bl-content {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    padding: 20px;

    @media print {
      padding: 0;
      flex: unset;
      overflow: unset;
    }
  }
}
