@use '@angular/cdk' as cdk;
@use 'styles/icons';
@use 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@include cdk.overlay();

html {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.btn-very-sm {
  --bs-btn-padding-y: .15rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .70rem;
}
